.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  z-index: 100000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-right:0px ;
  padding-left: 0;
}

.logo-icon {
  background: #6c5ce7;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
}

.menu {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-item {
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #555;
  transition: 0.2s;
}

.menu-item:hover {
  background: #eaeaea;
}

.menu-item.active {
  background: #dfe6ff;
  color: #3f51b5;
  font-weight: bold;
}

.upgrade-box {
  background: #0b132b;
  color: white;
  padding: 18px;
  border-radius: 14px;
}

.upgrade-box h4 {
  margin: 0;
}

.upgrade-box p {
  font-size: 13px;
  opacity: 0.8;
}

.upgrade-box button {
  color: #00030b;
  background-color: #eaeaea;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.menu-toggle {
  display: none;
  background-color: white;
  color: #0b132b;
}


/* ================= TABLET ================= */
@media (max-width: 1024px) {
  .sidebar {
    left: 0;
    width: 25%;
    padding: 16px;
  }
 .sidebar.open {
    left: 0;
  }
.menu-toggle {
  display: none;

}

  .menu-item {
    padding: 10px;
    font-size: 14px;
  }

  .upgrade-box {
    padding: 14px;
  }
}


/* ================= MOBILE ================= */
@media (max-width: 768px) {
  
  .sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    width: 40%;
    height: 100%;
    z-index: 100;
    transition: left 0.3s ease;
  }

  /* لما تفتح sidebar */
  .sidebar.open {
    left: 0;
  }

  .logo {
    font-size: 16px;
  }

  .menu {
    gap: 8px;
  }

  .menu-item {
    padding: 10px;
    font-size: 14px;
  }

  .upgrade-box {
    font-size: 14px;
  }
}
