.dashboard {
  display: flex;
  height: 100vh;
  background: #eeeff5;
  font-family: sans-serif;
 
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  padding-right: 0%;
}

.content {
  padding: 24px;
  background-color:#eeeff5;
  padding-left: 21%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}
/* SearchBar.css */

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 12px 16px;
  width: 100%;
  max-width: 600px;
  transition: border 0.2s ease;
  height: 50px;
}

.search-container:focus-within {
  border: 2px solid #4c6fff;
  background-color: #f5f7ff;
}

.search-icon {
  margin-right: 10px;
  font-size: 18px;
  opacity: 0.6;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  padding-top: 24px;
  width: 100%;
  font-size: 16px;
  color: #333;
}

.search-input::placeholder {
  color: #8f8f8f;
}

@media (max-width :1024px){
.content {
  padding-left: 26%;
}}
@media (max-width :768px){
.content {
  padding-left: 2%;
}}
