* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
  width: 100%;
}

.login-box {
  background: #fff;
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);

}

h1 {
  margin-bottom: 8px;
}

.subtitle {
  color: #64748b;
  margin-bottom: 24px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.options a {
  color: #4f46e5;
  text-decoration: none;
}

.signin-btn {
  width: 100%;
  padding: 14px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 24px 0;
  color: #94a3b8;
}

.social {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  background: white;
  cursor: pointer;
  color: #64748b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
img{
  border-bottom: 0;
}
.signup {
  text-align: center;
  margin-top: 16px;
}

.signup a {
  color: #4f46e5;
  text-decoration: none;
}
.error-message {
  background: #ffe5e5;
  color: #b00020;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  font-weight: 500;
}