body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f7fb;
}

.container {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

.header-card {
  background: white;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.header-card h2 {
  margin-bottom: 10px;
}

.header-card p {
  color: #666;
  max-width: 600px;
  margin: auto;
}

.main-btn {
  margin-top: 20px;
  background: linear-gradient(45deg, #5b5be0, #7a7af5);
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.main-btn:hover {
  transform: scale(1.05);
}

.loader {
  text-align: center;
  margin: 30px 0;
  color: #777;
}

.dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #6b6bff;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 1s infinite;
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 40px; 
  margin-top: 30px;
}


.card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  gap: 10px;
}

.user img {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  object-fit: cover;
}

.score {
  background: #e8f9ee;
  color: #1c9c4d;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
}

.reason {
  background: #f3f5f8;
  padding: 12px;
  border-radius: 15px;
  margin: 15px 0;
  font-size: 14px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.skills label {
  font-size: 11px;
  text-transform: uppercase;
  color: #888;
}

.tags span {
  display: inline-block;
  font-size: 11px;
  padding: 4px 8px;
  margin: 3px;
  border-radius: 6px;
  font-weight: bold;
}

.tags.green span {
  background: #d8f7e2;
  color: #1c9c4d;
}

.tags.red span {
  background: #ffdede;
  color: #cc2c2c;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.connect-btn {
  flex: 1;
  background: #5b5be0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.chat-btn {
  width: 45px;
  border: none;
  background: #eef0f5;
  border-radius: 10px;
  cursor: pointer;
}
